body{
    font-family: 'Poppins', sans-serif;
}
.slider-item::before{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4)
}

.feedback .card-text{
    padding: 0 30px;
    text-align: justify;
}
.feedback .left-right-button{
    color: lightgray;
    
}
.feedback .left-right-button:hover{
    color: rgb(22, 155, 207);
}
.Accordion .faq{
    padding: 5% 15%;
}
.Accordion .faq-answer{
    text-align: justify;
    padding-top: 20px;
}

.companies-logo .companies{
    width: 7vw ;
    height: 3vh;
}
.elearning-text{
    text-align: justify;
}
.elearning-text:hover{
    overflow: visible;
   white-space: normal;
   
}

@media screen and (max-width: 991px){
    .success-button, .left-right-button, .companies-logo {
        display: none;
    }
}